/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Override Bootstrap's font-family and define custom colors */
:root {
  /* Color palette */
  --black: #222222;
  --dark-gray: #727272;
  --gray: #D9D9D9;
  --background-gray: #f1f1f1;
  --error-red: #ff6868;

  /* Font family variables */
  --bs-font-sans-serif: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-color: var(--black);
}

/* Override Bootstrap's body styles */
body {
  background-color: var(--background-gray);
}

html {
  /* scrollbar-gutter: stable; */
  /* overflow-y: auto */
  overflow-y: scroll;
  overflow-x: hidden;
}
