/* UserAccountStyles.css */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

/*Modal styles*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  padding: 24px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1010;
  position: relative;
}


.modal-header {
  margin-bottom: 15px;
  text-align: left;
}

.modal-header h3 {
  margin: 0 0 5px 0;
}

.modal-header p {
  margin: 0;
  color: #6b7280;
  font-size: 14px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-cancel {
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  color: #374151;
}

.btn-create {
  background-color: #000;
  color: white;
  border: none;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

/* user details button*/
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

/* user details modal password*/
.toggle-password {
  margin-left: 10px;
  font-size: 0.85rem;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
}
